@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


/*Top Navigation*/
*{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  #abc{
    width:100%;
    height:100vh;
    background-image: url(images/quran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
  }
  nav{
    width: 100%;
    /*height: 50px;*/
    height: 6.5%;
    background-color: #0005;
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    height: 100%;;
  }
  nav ul li:hover{
    background-color:#088;
}
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}


/*Social Media*/

ul.socialMedia{
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align:left;
    color: white;
    
  
}

ul.socialMedia li{
    list-style:none;
}

ul.socialMedia li a{
    display:block;
    position:relative;

    width:40%;
    height:40%;
    line-height:40px;

    font-size:30px;
    text-align:center;
    text-decoration:none;
    color:white;
    
    transition:.5s;
}

.social-insta:hover {
    color: #c32aa3;
}
  .social-insta:hover span { 
    background: #c32aa3;
  }
  .social-whatsapp:hover {
    color: #25D366;
  }
  .social-whatsapp:hover span { 
    background: #25D366;
  }
  .social-linktree:hover {
    color: #4fbe78;
  }
  .social-linktree:hover span { 
    background: #4fbe78;
  }
  .social-google:hover {
    color: #dd4b39;
  }
  .social-google:hover span { 
    background: #dd4b39;
  }
  ul li a .social-insta {
    color: #1da1f2;
  }
  ul li a:hover:nth-child(3) {
    color: #4fbe78;
  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }

/*Title*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  .title {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    color: white;
  }
  .title-arabic {
    font-size: 200%;
    color: white;
  }


  /*Floating About Us*/
  .aboutUs {
      position:absolute;
      margin: 5%; 
      background-color: pink; 
      padding: 2%;
      /*bottom: 120px;*/
      top: 600px;
      border-radius: 7px;
      background-image: url(images/sk.jpg);
      background-position: bottom;
      color: white;
      font-family: 'Montserrat', sans-serif;
  }
  
  .aboutUs-paragraph {
      color: black;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
  }
  
  .aboutUs-header {
      text-align: left;
      color: black;
      font-family: 'Montserrat', sans-serif;
  }
  
  .aboutUs-span {
      display:block;
      width:100% /*or whatever width you want the effect of <hr>*/;
      border-top: 2px solid black
      
  }


/* About Us Side by Side*/

#aboutUs-left {
    width: 45%;
    float: left;
    height: 300px;
    background-image: url(images/sk.jpg);
    background-position: bottom;
    border-radius: 7px;
    margin-left: 5%;
}
#aboutUs-right {
    width: 45%;
    float: left;
    height: 300px;
    background-color: green;
    margin-right: 5%;
}

.aboutUs-div {
    margin-top: 2%;
    
    top: 600px;
    background-color: rgb(0, 0, 0);

}

.aboutUs-divright {
    
    width: 45%;
    float: right;
    height: 300px;
    background-color: green;
    border-radius: 7px;
    margin-right: 2.5%;
    top:600px;
    left: 100px;
    position:absolute ;
}

.aboutUs-divleft {
    
    width: 45%;
    float: left;
    height: 300px;
    background-image: url(images/sk.jpg);
    background-position: bottom;
    border-radius: 7px;
    margin-left: 2.5%;
}


/*Features*/

.flex-container {
    display: flex;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    flex-wrap: wrap;
    
}

.flex-child {
    flex: 1;
    margin: 0.5%;
    background-color: white;
}  

.data {
    flex: 1;
    margin: 3.5%;
    background-color: white;
}  

#upper {
    position: relative;
    bottom: 200px;
    
} 


.aboutUs-divNew {
    margin: 2.5%;
}

.text-center {
    text-align: center;
}



.message-section {
    margin: 2.5%;
    background-color: #eef2ee;
    border-style: dashed;
}

body {
    background-color: #eef2ee;
}

.message-h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 350%;
    margin: 2.5%;
    color: #0b3e28;
}

.message-paragraph {
    margin: 2.5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    color: #0b3e28;
}

.message-h3 {
    text-align: right;
    margin: 2.5%;
    color: #0b3e28;
}



/* Responsive layout*/


.table-section {
  
  background-color: #0005;
  background-image: url(images/sk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2.50%;
}


.background-section {
  background-color: #0005;
  background-image: url(images/sk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5%;
  
}

.centerDoc {
  /*height: 200px;*/
  position: relative;
  border: 3px solid #eef2ee;
  text-align: center;
  padding: 2.5%;
  color: white;
  text-decoration: none;
}

.buttonDoc {
  background-color: #eef2ee; /* Green */
  border: none;
  color: #0b3e28;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 300%;
}






















/*Board Members*/

/* Float four columns side by side */
.column {
  float: left;
  width: 23%;
  padding: 1% 1%;
}

.columnCenterL {
  float: left;
  width: 48%;
  padding: 1% 1%;
}

.columnCenterR {
  float: right;
  width: 48%;
  padding: 1% 1%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.cardalt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 15px;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .columnCenterL {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .columnCenterR {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  


}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .column {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }

  .columnCenterL {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }

  .columnCenterR {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Text */




/* Constution Button */

.ConstutionButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Constution {
  position: relative;
}



/* About Me */

.aboutMe-imgCrop {
  height: 16rem;
}


.aboutMe-h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 350%;
  color: #0b3e28;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.aboutMe-imgCrop {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}


.aboutMe-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

/* Test Code */

.topnav {
  background-color: #1B263B;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0D1B2A;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


@media screen and (max-width: 600px) {
  .message-paragraph {
    padding: 4%;
    text-align: center;
    font-size: 100%;
  }

  .message-h2 {
    text-align: center;
    font-size: 200%;
    padding: 4%;
  }

  .centerImg {
    width: 90%;
  }

  .title {
    font-size: 400%;
  }

}

/* bx Plugin*/

.bx-wrapper {
	margin-bottom: 20px;
}
#pager {
	text-align: center;
	font-size: 90%;
	color: blue;
}

.scribd_iframe_embed{
  width: 100%;
  scroll-behavior: smooth;
}

