
/*
--gunmetal: #202c39ff;
--gunmetal-2: #283845ff;
--sage: #b8b08dff;
--deep-champagne: #f2d492ff;
--atomic-tangerine: #f29559ff;
*/

table tr:nth-child(1) {
    background-color: #283845ff;
    color: #fff; }

ul li:nth-child(2) {
    background-color: #b8b08dff;
    color: #283845ff; }

ul li:nth-child(4) {
background-color: #f29559ff;
color: #283845ff; }

ul li:nth-child(5) {
    background-color: #b8b08dff;
    color: #283845ff; }

ul li:nth-child(6) {
background-color: #f29559ff;
color: #283845ff; }

ul li:nth-child(7) {
    background-color: #b8b08dff;
    color: #283845ff; }

ul li:nth-child(8) {
background-color: #f29559ff;
color: #283845ff; }



header, footer
{
	text-align: center;
	color: #283845ff;
	font-weight: bold;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #283845ff;
}

a:hover {
    color: white;

}

.centered {
    text-align: center;
    align-items: center;

}

video {
    display: block;
    margin: 0 auto;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #283845ff;
    background-color: #f2d492ff;

}

h1
{
    font-family: 'Press Start 2P', cursive;



}

h2
{
    font-family: 'Source Code Pro', monospace;
    

}

h3
{
    font-family: 'Space Mono', monospace;
    

}

.button {
    background-color: #b8b08dff;
}

.dbody
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #283845ff;
    background-color: #f2d492ff;

}

.customOne {
    font-family: 'Source Code Pro', monospace;
    background-color: lightgrey;
    color: #283845ff;
    font-size: 20px;
}